{% extends "layout.html" %}
 
{% block content %}
<h2>Connect UNAVCO Usability Survey</h2>
<i>After finishing the last task, they will be asked to complete a short exit survey, then provided with a link to the Survey Monkey about research discovery. If they are getting compensated for the test, make sure they fill it out.</i>
<p>"This concludes the survey. Thank you for participating. Please fill out the survey monkey linked. You will receive your $10 Amazon Gift card at the email you provided."</p>

<h3><a href="{{ url_for('admin')}}">Start over</a></h3>

{% endblock %}
