{% extends "layout.html" %}
 
{% block content %}

<h2>Introduction</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class=flash>
{% for message in messages %}
  {{ message }}
{% endfor %}
</div>
{% endif %}
{% endwith %}

<h3> {% if name %}Hi {{name}}! {% endif %}Please read this to the test taker:</h3>
<p id="intro">
  "I’m going to read from this script, first so I don’t forget anything, and second because we want to give the same introduction to every tester, which helps us get more reliable feedback. This is a test of a new website, Connect UNAVCO, which is designed to connect geodesy-related topics like people and research. Our goal is to facilitate the discovery of research output and connections that may otherwise be challenging to find. Your participation will illuminate the strength of our connections and whether discovery is intuitive. Thank you for helping us out." <br><br>(Page 1 of 3)
</p>

<p id="intro-2">
  "We will be asking you to test our interface answer a couple questions about your experience. We will give you 3 tasks to complete. We will observe and take notes while you complete the tasks.  Please be assured that we are testing our application and not your performance. Our objective is to improve the interface based on the test. Before we start, let me show you the survey form."<br><br>
  <i>Open the user survey form on the subject's computer (connect.unavco.org/survey). Allow them to fill out the contact information and read the privacy statement if they wish. Click next but don't allow them to start the task.</i>
  <br><br>(Page 2 of 3)
</p>

<p id="intro-3">
"You will find a task described at the top of the page. You may ask me questions, but I can't give you hints on how to accomplish the task. Please think out loud: describe what you're trying to do, expecting to see, or what you're thinking. Please let me know when you have finished the task. Do you have any questions before we start?"<br><br>
<i>Answer their questions, then click 'Next' to begin Task 1. Feel free to stop them after a few minutes if they aren't making progress. Make a note and move on to the next task.</i><br><br>(Page 3 of 3)
</p>

<span id="next" class="button" style="font-size: 1.5em"><a href="#">Next</a></span>
<span id="previous" class="button" style="font-size: 1.5em"><a href="#">Previous</a> - </span>
<span id="next-2" class="button" style="font-size: 1.5em"><a href="#">Next</a></span>
<span id="previous-2" class="button" style="font-size: 1.5em"><a href="#">Previous</a> - </span>
<span id="next-3" class="button" style="font-size: 1.5em"><a href="{{url_for('adminTask', task_num=1, gid=gid) }}" data-ajax="false">Next</a></span>


<script>
$(document).ready(function () {

    $("p").hide();
    $("#intro").toggle();
    $("#next-2").toggle();
    $("#previous").toggle();
    $("#previous-2").toggle();
    $("#next-3").toggle();

    $("#next").click(function(){
         $("#intro").toggle();
         $("#intro-2").toggle();
         $("#next").toggle();
         $("#previous").toggle();
         $("#next-2").toggle();
    });
    
    $("#previous").click(function(){
         $("#intro").toggle();
         $("#intro-2").toggle();
         $("#next").toggle();
         $("#previous").toggle();
         $("#next-2").toggle();
    });
    
    $("#previous-2").click(function(){
      $("#intro-2").toggle();
      $("#intro-3").toggle();
      $("#previous").toggle();
      $("#previous-2").toggle();
      $("#next-2").toggle();
      $("#next-3").toggle();
    });
    
    
    
    $("#next-2").click(function(){
         $("#intro-2").toggle();
         $("#intro-3").toggle();
         $("#previous").toggle();
         $("#previous-2").toggle();
         $("#next-2").toggle();
         $("#next-3").toggle();
    });

});
</script> 


{% endblock %}
