{% extends "layout.html" %}
 
{% block content %}
  <h2>Exit Survey</h2>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class=flash>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

<form action="{{ survey }}?gid={{gid}}" method=post data-ajax="false" id="survey">
  {{ form.hidden_tag() }}

  {% for field in form if field.type == 'RadioField' %}


{{ field.label(style="font-size:2em") }}
{% for message in field.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}



  <fieldset data-role="controlgroup" data-type="horizontal">
      {% for subfield in field %}
  {{ subfield }}{{ subfield.label }}
      {% endfor %}
    </fieldset>
{% endfor %}   
  
<h3>{{form.comments.label}}</h3>
<div style="text-align:center">
{{form.comments(cols="65", rows="10")}}
</div>



{{ form.submit }}
</form>

{% endblock %}
